/* Variables css */
:root {
    /* Colores principales */
    --yellow-color: #FFD011;
    --first-blue-color: #003f94;
    --second-blue-color: #5271FF;
    /* Colores secundarios-variantes */
    --DarkBlue: #00008B;
    --LightBlue: #CADFE8;
}
* {
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    background: whitesmoke;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row {
    width: 950px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 48px;
}
.left-image{
    background-image: url("../assets/imgContenido/imgLogin.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px 0 0 10px;
    position: relative;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 350px;
    box-sizing: border-box;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.input-field input:focus ~ label{
    top: -10px;
    font-size: 13px;
}
.input-field input:valid ~ label
{
    top: -10px;
    font-size: 13px;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1.2px solid var(--DarkBlue);
}
.btn-login {
    background-color: var(--DarkBlue);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 100%;
    display: inline-block;
}
.btn-login:hover {
    background-color: var(--first-blue-color);
}
.btn-regresar {
    background-color: var(--yellow-color);
    color: #000;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 100%;
    display: inline-block;
}
.btn-regresar:hover {
    background-color: #FFE252;
}
.span-registro{
    font-size: 14px;
    margin-top: 30px;
}
span a{
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: var(--second-blue-color);
}

@media only screen and (max-width: 767px){
    .left-image{
        border-radius: 10px 10px 0 0;
        background-image: url("../assets/imgContenido/hola5.jpg");
    }
    .row{
        max-width:450px;
        width: 100%;
    }
}