@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Variables CSS */
:root {
    /* Colores principales */
    --yellow-color: #FFD011;
    --first-blue-color: #003f94;
    --second-blue-color: #5271FF;

    /* Colores secundarios-variantes */
    --DarkBlue: #00008B;
    --LightBlue: #CADFE8;
}

/* Navbar */
.navbar-vetweb {
    background-color: white;
    z-index: 1000; /* Visibilidad sobre otros componentes */
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
}
.logo-vetweb {
    width: auto;
    height: 70px;
}
.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover,
.nav-link.active {
    color: #000;
}
/* Botón de login */
.login-btn {
    background-color: var(--DarkBlue);
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.login-btn:hover {
    background-color: var(--yellow-color);
    color: #000;
}
.navbar-toggler {
    border: none !important;
    font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none !important;
    outline: none;
}
/* Opcion de idiomas */
.language-selector {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 6px 10px;
}
.language-selector .bi-globe {
    margin-right: 5px;
    font-size: 16px;
}
.language-selector .bi-chevron-down {
    font-size: 12px;
    margin-left: 5px;
}
/* Menú desplegable */
.dropdown-menu {
    min-width: 120px;
    border-radius: 4px;
    padding: 8px 0;
    border: none;
}
.dropdown-item {
    font-size: 14px;
    padding: 6px 16px;
}
.language-selector.dropdown-toggle::after {
    display: none;
}

/* Responsive */
@media (max-width: 767px) {
    .logo-vetweb {
        height: 50px;
    }
    .login-btn {
        font-size: 12px;
        padding: 6px;
    }
    .navbar-toggler {
        font-size: 1.15rem;
    }
    .language-desktop {
        display: none;
    }
    .language-selector {
        justify-content: flex-start;
        width: 100%;
        padding: 10px 0;
    }
    .nav-item.dropdown .dropdown-menu {
        border: none;
        background-color: #f8f9fa;
        box-shadow: none;
        padding-left: 15px;
    }
}
@media (min-width: 991px) {
    /* Efecto subrayado animado */
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--DarkBlue);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}